body{
    background-color:rgb(88, 88, 156);
}
.page{
    text-align: center;
}
.all{
    background-color: white;
}
  input, select,button{
            width: 100%;
            padding: 12px;
            border: 5px solid #e5e7eb;
            border-radius: 8px;
            font-size: 16px;
 }
 #for{
    border: 2px dotted;
    border-radius: 10px;

    
    
 }
 #bot{
    
    background-color: rebeccapurple;
    padding: 20px;
    
 }